@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);



















#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-family: 'Ubuntu', sans-serif;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#header1-1 H1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  color: #a8d0ea;
}
#header2-2 I {
  font-family: 'Ubuntu', sans-serif;
}
#header2-2 H1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  color: #a8d0ea;
}
#header2-2 P {
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}
#header3-j H3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  color: #a8d0ea;
}
#content1-i DIV {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
#content1-6 P {
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
#msg-box4-m .mbr-section-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  color: #a8d0ea;
}
#msg-box4-m .lead P {
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
#content4-k H4 {
  font-family: 'Ubuntu', sans-serif;
  color: #a8d0ea;
}
#content4-k P {
  font-size: 20px;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}
#content5-n .mbr-section-title {
  font-family: 'Ubuntu', sans-serif;
  color: #5bc0de;
  text-align: right;
  font-size: 30px;
}
#content5-n P {
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 22px;
}
#slider2-8 H2 {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
}
#slider2-8 P {
  text-align: right;
}
#slider2-8 .btn {
  font-family: 'Ubuntu', sans-serif;
}
#msg-box2-b H2 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#form1-f .mbr-section-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#social-buttons1-e .mbr-section-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}


#dropdown-menu-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-o .navbar-brand a {
  font-family: 'Ubuntu', sans-serif;
}
#dropdown-menu-o .nav .link,
#dropdown-menu-o .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-o .navbar,
#dropdown-menu-o .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-o .dropdown-menu a:hover,
#dropdown-menu-o .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-o .navbar-toggler {
  color: #000000;
}
#msg-box2-q H2 {
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}






#dropdown-menu-r .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-r .navbar-brand a {
  font-family: 'Ubuntu', sans-serif;
}
#dropdown-menu-r .nav .link,
#dropdown-menu-r .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-r .navbar,
#dropdown-menu-r .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-r .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-r .dropdown-menu a:hover,
#dropdown-menu-r .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-r .navbar-toggler {
  color: #000000;
}
#header2-x H1 {
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#header2-x P {
  text-align: left;
}
#header2-z H1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#header2-z P {
  text-align: left;
}
#header2-11 H1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#header2-11 P {
  text-align: left;
}
#header2-16 P {
  text-align: left;
}
#header2-17 H1 {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
#header2-17 P {
  text-align: left;
}
#header2-18 H1 {
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#header2-18 P {
  text-align: left;
}



#dropdown-menu-t .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-t .navbar-brand a {
  font-family: 'Ubuntu', sans-serif;
}
#dropdown-menu-t .nav .link,
#dropdown-menu-t .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-t .navbar,
#dropdown-menu-t .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-t .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-t .dropdown-menu a:hover,
#dropdown-menu-t .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-t .navbar-toggler {
  color: #000000;
}
#header2-19 H1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
}
#header2-19 P {
  text-align: left;
}
#header2-19 B {
  font-family: 'Ubuntu', sans-serif;
}

#dropdown-menu-v .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-v .navbar-brand a {
  font-family: 'Ubuntu', sans-serif;
}
#dropdown-menu-v .nav .link,
#dropdown-menu-v .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-v .navbar,
#dropdown-menu-v .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-v .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-v .dropdown-menu a:hover,
#dropdown-menu-v .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-v .navbar-toggler {
  color: #000000;
}
